
/* Media querries */


@media (max-width: 768px) {
    .header{
      display: block;
      text-align: center;
      
    } 
    .header img{
      margin: 0.5rem 0;
      align-items: center;
    } 
    .header ul{
      display: block;
      padding: 0.5rem;
    }
    .header ul li{
      padding: 1rem;
    }
    #showcase{
      background: url(/img/truck1.jpg)   center center/cover;
      height: 70vh;
      width: 100%;
      padding-top: 9rem;
      text-align: center;
      text-transform: uppercase;
      
    }
    #showcase span{
      font-weight: bolder;
      color: var(--bright-color);
      font-size: 2rem;
    }
    #main-footer{
      background-color: var(--dark-color);
      color: var(--bright-color);
      display: block;
      padding: 1rem;
      text-align: center;
      
  }
  
  #main-footer ul li {
      display: inline-block;
      font-size: 30px;
      padding: 0 1rem;
      margin-top: 10px;
  
     
  }
  
  #main-about{
    background: url(/img/truck5.jpg) no-repeat ; 
    height: 60vh;
    text-align: center;
    color: var(--bright-color);
    padding: 1rem;
    
  }
  
    
  #main-contact{
  background: url(/img/truck3.jpg) no-repeat center center/cover;
  height: 100vh;
  padding: 1rem;
  text-align: center;
  }
  
  form{
    display: block;
    padding: 2rem;
    border: none;
    border-radius: 10px;
    overflow: scroll;
    margin: 0 auto;
    
  
  
      
  
  }
  label {
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    color: var(--primary-color);
    font-weight: bolder;
    text-align: center;
    border-bottom:none;
    
    
    
  
  
  }
  
  input{
    display: block;
    width: 300px;
    height: 2rem;
    border: none;
    padding: 1.2rem;
    outline-color: var(--primary-color);
    background-color: #a9a9a9;
    color: var(--bright-color);
    font-size: 1.2rem;
    border-radius: 10px;
    
    
    
   
  }
  textarea{
    display: block;
    width: 300px;
    height: 2rem;
    border: none;
    outline-color: var(--primary-color);
    height: 150px;
    padding: 1rem;
    font-size: 1rem;
    background-color: #a9a9a9;
    color: var(--bright-color);
    border-radius: 10px;
  }
  textarea::placeholder{
    color: var(--bright-color);
  }
  
  #main-contact h2{
  text-align: center;
  

}
}
@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 1024px) {
   #showcase{
      background: url(/img/truck1.jpg)   center center/cover;
      height: 85vh;
      width: 100%;
      padding-top: 1rem;
      text-align: center;
      text-transform: uppercase;
      
    }
    #showcase span{
      font-weight: bolder;
      color: var(--bright-color);
      font-size: 1.2rem;
    }
    #main-contact{
      background: url(/img/truck3.jpg) no-repeat center center/cover;
      height: 100%;
      padding: 1rem;
     ;
     
      }
   
    form{
      display: inline-block;
      padding: 2rem;
      border: none;
      border-radius: none;
      margin: 0 auto;
      overflow:scroll;
      
    
    
        
    
    }
    label {
      font-size: 1.2rem;
      text-transform: uppercase;
      border: none;
      color: var(--primary-color);
      font-weight: bolder;
      text-align: center;
      border-bottom:none;

      
      
      
    
    
    }
    
    input{
     
      border: none;
      padding: 1rem;
      outline-color: var(--primary-color);
      background-color: #a9a9a9;
      color: var(--bright-color);
      font-size: 1.2rem;
      margin: 0 auto;
      border-radius: none;
      
      
      
     
    }
    textarea{
      display: block;
      width: 300px;
      height: 2rem;
      border: none;
      outline-color: var(--primary-color);
      height: 150px;
      padding: 1rem;
      font-size: 1rem;
      background-color: #a9a9a9;
      color: var(--bright-color);
      border-radius: 10px;
    }
    textarea::placeholder{
      color: var(--bright-color);
    }
    
    #main-contact h2{
    text-align: center;
    
  
  }
   
}
  
  